*{
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: calc(100vh - 120px); 
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap:10px
}
header{
    display: flex;
    flex-wrap: wrap;
    gap :10px;
    position: sticky;
    width: 100%;
    top:0;
    justify-content: space-around;
    padding: 20px;
    background-color: #b3b3b32d;
    backdrop-filter: blur(10px);
    z-index: 10;
}
.logo{
    gap: 5px;
    width: auto ;
    font-size: 2rem;
    font-weight: bold;
    justify-content: start;
}
#initial_span{
    text-decoration:underline 3px red;
    color: red;
}

input{
    height: 100%;
    border: none;
    outline: none;
    border: solid 1px rgba(0, 0, 0, 0.548);
    border-radius:50px;
    padding: 10px;
    font-size: medium;
    padding-left: 20px;
    color: #3f3f3f;
    font-weight: 700;
    font-size: 0.95rem;
    background-color:#b3b3b32d;
    backdrop-filter: blur(10px);

}
#search::placeholder {
    color: #b3b3b3;
    font-weight: 700;
    font-size: 0.95rem;
}

.sort-btn {
    background-color: #ff5533b7;
    backdrop-filter: blur(5px);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.no-products {
    height:85vh;
    width: 100%;
    padding: 40px 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3f3f3f;
    background-color: #b3b3b32d;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height:auto;
    width: 19%;
    align-items: center;
    justify-content: center;
}
p{  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}
.img{
    height: auto;
    width: 90%;
    object-fit: contain;
    cursor: pointer;
}
footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #b3b3b32d;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

@media screen and (max-width:1200px){
    .card{
        width: 20%;
    }
}

@media screen and (max-width:800px) {
    .card{
        width: 30%;
    }
}
@media screen and (max-width:500px) {
    .card{
        width: 40%;
    }
}
@media screen and (max-width:300px) {
    .card{
        width: 50%;
    }
}

